.wrapper {
  position: relative;
  width: calc(50% + 310px);
  align-self: center;
  display: flex;
}

.input {
  background-color: #fff;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex: 1;
  padding-right: 5rem;
}

.button {
  position: absolute;
  right: 0;
  width: 5rem;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
