.container {
  flex: 0.95;
  overflow-y: scroll;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("../assets/chatgpt.png");
  background-repeat: no-repeat;
  background-size: 150px 150px;
  background-position: center;
  opacity: 0.1;
}

.messageItem {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message {
  color: #fff;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin-top: 2rem;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .message {
    width: 90%;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.center {
  display: flex;
  align-items: center;
}
.wave {
  width: 2px;
  height: 30px;
  background: linear-gradient(45deg, #ffa3fd, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
