.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.list::-webkit-scrollbar-track {
  visibility: hidden;
}

.list::-webkit-scrollbar {
  visibility: hidden;
  width: 0px;
}
.list::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.button {
  cursor: pointer;
}

.switchGroup {
  margin: 0;
  margin-top: auto;
  transform: translateY(-50%);
  background-color: #404258;
}
