* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #191825;
  overscroll-behavior-y: none;
}

.App {
  display: flex;
  flex-direction: row;
}

/* 480px, 768px, 1024px, and 1280px */

@media screen and (max-width: 480px) {
  .App {
    flex-direction: column;
    height: 100dvh;
  }
}
